p, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-family: Montserrat, sans serif;
}
ul, li, li a {
    font-family: 'Playfair Display SC', serif;
}

/**********************/
/***     NAVBAR     ***/
/**********************/
.navbar-default,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border:none;
}

.navbar-header-border-bottom {
    height:0;
}

.navbar-item-text {
    color:#f3d15e;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default-transition .navbar-toggle .icon-bar,
.navbar-default-transition.navbar-transition .navbar-toggle .icon-bar {
    background-color: #f3d15e;
}

.navbar {
    background-color: #7e7e7e;
}

@media (min-width: 992px) {
    .navbar {
    height:155px;
}
}

.nav li,
.nav li a {
    font-weight:600;
}

.navbar-main > li.active > a > .bar,
.navbar-main > li.dropdown.open > a > .bar,
.navbar-main > li:hover > a > .bar {
    top: 0;
    background-color: #00295b;
}

.frame-type-carousel {
    padding-top:0;
    padding-bottom:0;
}

div.frame.frame-default.frame-type-carousel.frame-layout-0.frame-space-before-none.frame-space-after-none,
div.frame.frame-default.frame-type-carousel_small.frame-layout-0.frame-space-before-none.frame-space-after-none,
.frame.frame-type-carousel_fullscreen {
  padding:0;
}

@media (min-width: 992px) {
.navbar-brand-image > img {
    position: relative;
    top: 50%;
    transform: translate(0,-40%);
    max-height: 95%;
    width: auto;
}
}

@media (max-width: 991px) {
.navbar-header-main .navbar-brand.navbar-brand-image > img {
    max-height: 75px;
    width: auto;
}
}

/**  END OF NAVBAR   **/

/***********************/
/**       FORM        **/
/***********************/

.texticon-left .texticon-icon, .texticon-right .texticon-icon {
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 30px;
}

@media (min-width: 992px) {
#c4.frame {
    padding: 0 150px;
}
/*#p21.col-lg-6, #p21.col-md-6, #p21.col-md-3, #p21.col-sm-12, #p21.col-xs-12 {
    margin:0px 0px 20px 0px;
}*/
}

h2.element-header {
    margin:0;
    padding:0;
}

#p21 .clearfix {
    margin-top:40px;
}

#p21 .clearfix > p {
    margin-top:-40px;
}

#p21 .input {
    margin-bottom:20px;
}

/****  END OF FORM  ****/

/***********************/
/**    FRONT PAGE     **/
/***********************/

#p1 h2 {
    margin:1.5em 0 0 0;
}

#p1 p {
    font-size:1em;
}

/** END OF FRONT PAGE **/

/***********************/
/**    ABOUT PAGE     **/
/***********************/

#p3 p {
    font-size:1em;
}

/** END OF ABOUT PAGE **/

/**********************/
/**      TRIPS       **/
/**********************/

.texticon.texticon-left,
.texticon.texticon-right {
    margin:0 auto;
    width:150px;
}

.texticon-content a,
.texticon a {
    color:#f3d15e;
}

.texticon-content a:hover,
.texticon a:hover {
    color:#00295b;
}

/*****    GRID ON TRIPS PAGE (INDEX)  ******/

#p1 h3.element-header,
#p4 h3.element-header {
    font-size:1.2em;
    font-weight:400;
}

#p1 h4.element-subheader,
#p4 h4.element-subheader {
    font-size:.8em;
    margin-top:-.6em;
    margin-bottom:.25em;
}

#p1 .col-md-4,
#p4 .col-md-4 {
    padding:1em;
}

/*****    END OF GRID ON TRIPS PAGE (INDEX)  ******/


/******* TRIP SUBPAGES *******/

.frame {
    padding:0;
    margin-bottom:0;
}

.col-md-4 {
    padding:0;
}

.frame-inner {
    overflow:hidden;
    clear:both;
}

.image {
    margin-bottom:0;
}

p {
    margin: 0;
    padding:0 2em;
    font-size:0.85em;
}

p:first-of-type {
    margin: 0;
    padding:1em 2em 0;
}

p:last-child {
    margin: 0;
    padding-bottom:1em;
}

h2 {
    font-size:1.5em;
    margin-bottom:1.5em;
}

h5 {
    margin-top:1em;
    margin-bottom:0;
}

.footer-section p {
    font-size:16px;
}

@media (max-width:1199px) {
p {
    font-size:12px;
}
}

/***** HORIZONTAL TRIPS MENU *****/
#c64 ul {
    text-align: center;
    margin:0 auto;
    -webkit-padding-start:0;
    -moz-padding-start:0;
}

#c64 a {
    font-family: Montserrat, sans serif;
    font-weight:400;
    font-size:.75em;
}

#c64 ul li {
    display:inline;
    margin-right:1em;
}

#c64.frame>:last-child {
    margin-bottom:2em;
}



/**********************/
/**      PANELS      **/
/**********************/

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: #f3d15e;
}

.panel-default p {
    font-size:1em;
}

/*.panel-default {
    border-color: #f3d15e;
}*/

.panel-default>.panel-heading {
    color: #333;
    background-color: #00295b;
    border-color: #ddd;
}

.panel-default.collapsed {
    border-color: #ddd;
}

.collapse.in {
    border-color: #f3d15e !important;
}


/**   END OF PANELS  **/

/**********************/
/**       FAQ        **/
/**********************/

.tx-jsfaq .tx-jsfaq-toggle-show-all,
.tx-jsfaq .tx-jsfaq-toggle-hide-all,
.tx-jsfaq .tx-jsfaq-toggle-show-category-all,
.tx-jsfaq .tx-jsfaq-toggle-hide-category-all {
    background-color: #00295b !important;
    color:#f3d15e !important;
    background-image: none !important;
}

.tx-jsfaq .tx-jsfaq-header.tx-jsfaq-toggle-plus::before {
    background: #f3d15e none repeat scroll 0 0;
    content: "";
    height: 9px;
    position: absolute;
    right: 18px;
    top: 15px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    width: 4px;
}

.tx-jsfaq-header.tx-jsfaq-toggle-plus::after {
    background: #f3d15e none repeat scroll 0 0 !important;
    content: "";
    height: 9px;
    position: absolute;
    right: 23px;
    top: 15px;
    transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    width: 4px;
}

.tx-jsfaq .tx-jsfaq-header.tx-jsfaq-toggle-minus {
    background-color: #00295b !important;
    color:#f3d15e !important;
    font-weight:normal !important;
}

.tx-jsfaq .tx-jsfaq-header {
    background-color: #00295b !important;
    color:#f3d15e !important;
}

.toggale {
    color: #00295b !important;
}

.tx-jsfaq-header.tx-jsfaq-toggle-minus::after {
    background: #f3d15e none repeat scroll 0 0 !important;
    content: "";
    height: 9px;
    position: absolute;
    right: 19px;
    top: 15px;
    transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    -ms-transform: skewX(30deg);
    width: 4px;
}

.tx-jsfaq .tx-jsfaq-header.tx-jsfaq-toggle-minus::before {
    background: #f3d15e none repeat scroll 0 0;
    content: "";
    height: 9px;
    position: absolute;
    right: 24px;
    top: 15px;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    width: 4px;
}

/***   END OF FAQ  ***/


/**********************/
/**      FOOTER      **/
/**********************/

.footer-section {
    color: #f3d15e;
    background: #7e7e7e;
}

.footer-section a {
    color: #f3d15e;
    font-family: Montserrat, sans serif;
}

.footer-section a:hover {
    text-decoration:none;
    color: #00295b; !important
}

.footer-section p {
    margin:0;
    padding:0;
    color: #f3d15e;
    /*font-family: 'Playfair Display SC', serif;*/
    font-size:.75em;
}

.copyright {
    padding-bottom:0.75em;
}

.footer-section p:first-of-type {
    margin:0 !important;
    padding:0 !important;
}

.footer-section-content-column-middle ul {
    margin:0;
    padding:0;
}

.footer-section-content-column-middle li {
    list-style-type:none;
}

@media (min-width: 1200px) {
.footer-section.section {
    padding-top: 1.5em;
    padding-bottom: 0;
}
.footer-section h4 {
    margin-bottom:0.5em !important;
}
}

@media (min-width: 992px) {
.footer-section.section {
    padding-top: 1.5em;
    padding-bottom: 0;
}
.footer-section h4 {
    margin-bottom:0.5em !important;
}
}

@media (min-width: 768px) {
.footer-section.section {
    padding-top: 1.5em;
    padding-bottom: 0;
}
.footer-section h4 {
    margin-bottom:0.5em !important;
}
}

@media (max-width: 767px) {
.footer-section-content-column-middle {
    padding-top: 2em;
    padding-bottom: 0;
    margin-bottom:2em;
}
.footer-section h4 {
    margin-bottom:0.5em !important;
}
}

.footer-section-content-column-right figure a>img, .footer-section-content-column-right figure>img {
    display: block;
    height: auto;
    max-width: 70%;
    margin:0;
    padding:0;
}

.footer-section-content-column-right .gallery-item {
    margin:0;
    padding:0;
    width:97px;
}

/**  END OF FOOTER  **/
